.menu-card{
  width:280px;
  height:400px;
  background: linear-gradient(
    135deg,
    #242424 0%,
    #525050 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid rgba(255,255,255,.06);
  border-radius:20px;
  overflow:hidden;
  transition:.25s ease;
}

.menu-card:hover{
  transform:translateY(-6px);
  border-color: #f97316;
  box-shadow:0 20px 40px rgba(0, 0, 0, 0.35);
}

.menu-card-img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.menu-card-body{
  padding:1rem;
  display:flex;
  flex-direction:column;
  gap:.2rem;
}

.menu-card-body h3{
  font-size:1.1rem;
  color:#fff;
  font-weight:600;
}

.menu-card-body>span{
  font-size:1.2rem;
  font-weight:700;
  color:#f97316;
}

.menu-card-body p{
  color:#9ca3af;
  font-size:.9rem;
  line-height:1.5;
}

/* Add To Cart */

.menu-card-add-btn {
  margin-top: .1rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: .4rem;
  background: #f97316;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.menu-card-add-btn:hover {
  background: #ea6c0a;
}

/* Quantity */

.menu-qty-control {
  display: flex;
   height:49px;
  justify-content: space-between;
  align-items: center;
  padding: .1rem;
  border-radius: 12px;
  margin-top: .2rem;
}

.menu-qty-control button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background: #f97316;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

.menu-qty-control span {
  color: white;
  font-size: 1rem;
  font-weight: 700;
}


/* Owner Actions */

.owner-menu-actions{
  display:flex;
  gap:.5rem;
}

.owner-menu-actions button{
  flex:1;

  border:none;
  border-radius:10px;

  padding:.7rem;

  font-weight:600;
}

.owner-menu-actions button:first-child {
  background: rgba(249, 115, 22, 0.1);
  color: #f97316;
}

.owner-menu-actions button:last-child {
  background: rgba(239, 68, 68, 0.1);
  color: #ef4444;
}

